*.py[cod]
.idea/*

# virtualenv
.Python
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/easy_install
bin/easy_install-2.7
bin/pip
bin/pip-2.7
bin/python
bin/python2
bin/python2.7
bin/ip*
bin/ir*
bin/py*
include/
share/


# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
